<a href="https://colab.research.google.com/github/jmcncrio/Elective-Lab-2/blob/main/Lab_Activity_Nacario_(Operations_%26_Expressions_in_Python).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Boolean Operators

In [ ]:
print(10>9)
print(9==9)
print(10<9)

True
True
False

In [ ]:
10>9
9==9
10<9

False

##Bool Function

In [ ]:
print(bool("Hello"))
print(bool(15))

print(bool())
print(bool(0))
print(bool(False))
print(bool(None))
print(bool([]))

True
True
False
False
False
False
False

##Functions

In [29]:
def myFunction():
  return True

  print(myFunction())

In [31]:
def myFunction():
  return False
  
  if myFunction():
    print ("Yes")
  else:
    print("No")

##Application 1

In [33]:
print (10>9)
a=6
b=7

print(a==b)
print(a!=a)

True
False
False

##Python Operators

In [35]:
#Arithmetic Operation

print(10+9)
print(10-9)
print(10*9)
print(10/5)
print(10**2)

19
1
90
2.0
100

##Python Bitwise Operators

In [36]:
print(60 & 13)
print(60 | 13)
print(60 ^ 13)


60>>2

12
61
49

15

##Python Assignment Operators

In [37]:
x=6

x//=3
print(x) #x=x//3

2

##Logical Operators

In [38]:
x=True
y=False

print(x and y)
print(x or y)

False
True

##Identity Operators

In [39]:
x is y
x is not y

True